/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-page {
  height: 100vh;
  background-image: url("./assets/images/background-mobile.png");
  background-position: 100% 100%;
  background-size: cover;
} */
